{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% if form.instance.pk %}编辑学生{% else %}添加学生{% endif %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                {% if form.instance.pk %}编辑学生{% else %}添加学生{% endif %}
            </h6>
        </div>
        <div class="card-body">
            <form method="post" class="form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.StudentID|as_crispy_field }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.Name|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form.Gender|as_crispy_field }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form.Age|as_crispy_field }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form.Class|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.EnrollmentDate|as_crispy_field }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.Phone|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.Email|as_crispy_field }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.Address|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">保存</button>
                    <a href="{% url 'student_list' %}" class="btn btn-secondary">取消</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function() {
        // 年龄输入验证
        $('#id_Age').on('input', function() {
            var value = parseInt($(this).val());
            if (value < 0) {
                $(this).val(0);
            } else if (value > 150) {
                $(this).val(150);
            }
        });

        // 学号输入验证
        $('#id_StudentID').on('input', function() {
            $(this).val($(this).val().replace(/[^\d]/g, ''));
        });

        // 电话号码输入验证
        $('#id_Phone').on('input', function() {
            $(this).val($(this).val().replace(/[^\d-]/g, ''));
        });

        // 邮箱输入验证
        $('#id_Email').on('blur', function() {
            var email = $(this).val();
            if (email && !email.includes('@')) {
                alert('请输入有效的邮箱地址');
                $(this).focus();
            }
        });
    });
</script>
{% endblock %} 