{% extends 'base.html' %}

{% block title %}删除成绩{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-danger">确认删除</h6>
        </div>
        <div class="card-body">
            <p>您确定要删除以下成绩记录吗？</p>
            <table class="table table-bordered">
                <tr>
                    <th>学生</th>
                    <td>{{ object.Student.Name }} ({{ object.Student.StudentID }})</td>
                </tr>
                <tr>
                    <th>课程</th>
                    <td>{{ object.Course.CourseName }}</td>
                </tr>
                <tr>
                    <th>平时成绩</th>
                    <td>{{ object.RegularGrade }}</td>
                </tr>
                <tr>
                    <th>期中成绩</th>
                    <td>{{ object.MidtermGrade }}</td>
                </tr>
                <tr>
                    <th>期末成绩</th>
                    <td>{{ object.FinalGrade }}</td>
                </tr>
                <tr>
                    <th>总成绩</th>
                    <td>{{ object.total_grade|floatformat:1 }}</td>
                </tr>
            </table>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">确认删除</button>
                <a href="{% url 'score_list' %}" class="btn btn-secondary">取消</a>
            </form>
        </div>
    </div>
</div>
{% endblock %} 